.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-image: url('../../assets/adventure-photo.jpg');
  background-size: cover;
  background-position: center;
}

