<div class="main container">
    <div class="title-container">
        <h1 class="first-title"> Discover the Colorful World</h1>
        <h2 class="adventure-title">New Adventure</h2> 
    </div>
    <div class="adventure-description">
        <h1> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
             Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
             when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </h1>
    </div>
    <button class="Discover-button">Discover Now</button>
</div>
