.location-list-container{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

.most-popular{
    display: flex;
    justify-content: center;
    color: #048500;
    margin: 10px;
}